# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
tests/bin/*
tests/std_bin/*
tests/parsedFiles
tests/anchorFiles
*.app

#Storaging files
storageFiles/*
parsedFiles/*
anchorFiles/*

#bloomfilter
bloomFilter.bin

others

#dSYM directories
*.dSYM

#miscellaneous
.vscode
.DS_Store
GetUrl
extras
keys
